torch
torchvision
flash-attn @ https://github.com/Dao-AILab/flash-attention/releases/download/v2.8.3/flash_attn-2.8.3+cu12torch2.5cxx11abiFALSE-cp310-cp310-linux_x86_64.whl
gsplat
numpy
opencv-python
matplotlib
tqdm
scipy
einops
lpips
scikit-image
open3d
trimesh
plyfile
psutil
h5py
tensorboard
imageio[ffmpeg]
clean-fid